body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dde0e0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6em;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

a:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    transition: 0.5s;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(10, 2, 48);
    padding: 15px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: sticky;
}

nav ul {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

@media (min-width: 500px) {
    h1 {
        color: orange;
    }
}

@media (min-width: 1000px) {
    h1 {
        color: yellow;
    }
}

@media (min-width: 1500px) {
    h1 {
        color: green;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}
